*{
    font-family: 'Roboto';
    font-size: 1.4rem;
}

body{
    min-height: 100vh;
    font-family: sans-serif;
    display: grid;
    place-items: left;
}

.content{
    display: grid;
    grid-template-areas: 
    ". . . . ."
    ". hero . form ."
    ". hero . form ."
    ". . . . ."
    ;

    gap: 8.5rem;
}

main{
    grid-area: form;
}

aside{
    grid-area: hero;
}

:root{
    font-size: 62.5%;
}


main{
    width: 60rem;
    height: 52rem;
    height: 52rem;
    border: 0.1rem solid rgb(0, 0, 0, 0.92);
    padding: 4.4rem;
    border-radius: 1.2rem;

}

label{
    width: 100%;
    color: #777;
    align-self: flex-start;
    transition: 0.15s linear;
}

label:focus-within{
    color: rgb(53, 109, 90);
}

input{
    font-size: 1.875rem;
    color: #404040;
    padding:  1rem 0 0.5rem 0;
    width: 100%;
    border: none;
    border-color: #a0a0a0;
    border-bottom-width: 1px;
    border-bottom-style:dotted ;
    margin-bottom:3rem ;
    transition: 0.15s linear;
}

input:focus{
    outline: none;
    border-color: rgb(53, 109, 90);
}

.btn{
    font-size: 5.5rem ;

    border: 1px solid rgb(53, 109, 90);
}


.btn:hover{
    outline: none;
    background: rgb(53, 109, 90);
    color: #fff;
}

aside h1{
font-size: 4.0rem;
font-family: 'Times New Roman', Times, serif;
font-weight: 700;
margin-bottom: 5rem;
align-items: center;
}

.p1, .p2{ 
    font-size: 4.0;
    text-decoration: none;
    color: rgb(53, 109, 90);
    font-size: 0.875rem;
    font-weight: 600;
    transition: 0.3s;
}

.footer:first-of-type{
    margin-top: 3rem;
}

.footer a + a{
    margin-top: 1.125rem;
}





