*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

:root{
    font-size: 62.5%;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto';
    font-size: 1.4rem;
}

.content{
    display: grid;
    grid-template-areas: 
    ". . . . ."
    ". hero . form ."
    ". hero . form ."
    ". . . . ."
    ;

    gap: 8.5rem;
}

main{
    grid-area: form;
}

aside{
    grid-area: hero;
}

aside h1{
    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
}

aside h1 span, main h2 span{
    color: #446d5f;
}

main{
    width: 60rem;
    height: 52rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.95);
    padding: 4.4rem 5.7px;
    border-radius: 1.2rem;
}
main h2{
   max-width: 43rem; 
   font-size:3.6rem ;
   font-weight: 500;
}

main .action{
    display: flex;
    flex-flow: column wrap;
}

main .action a{
    border-radius: 1.2rem;
    text-decoration: none;
    font-size: 2.4rem;
    height: 5.5rem;
    background-color: brown;   
    color: aliceblue;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.4rem;
}
main .action a+a{
    background: #446d5f;
    margin-top: 4.8rem;
}

main footer p{
    font-size: 1.6rem;
    margin-top: 8rem;
    text-align: center;
}

main footer a{
 margin-top: 1rem;
 font-size: 1.6rem;
 display: block;
 text-align: center;
 color: black;
}


aside h1{
    font-size: 1.3125rem;
    font-weight: 700;
    color: rgb(190, 40, 40);
    margin-bottom: 5rem;
}